 <div class="user-details">
  <h1> Our Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Deep Learning</h2>
      <img src="/assets/img/tech.png" width="100">
      <p>Deep Learning을 사용하여 개발된 NoriS Engine은 정보영역 인식에 사용됩니다.</p>
    </div>
    <div class="tech">
      <h2>Computer Vision</h2>
      <img src="/assets/img/eye.png" width="100">
      <p>NoriS Engine에 사용될 수 있도록 이미지 데이터를 처리하고 분석에 사용됩니다.</p>
    </div>
    <div class="tech">
      <h2>Data Verification</h2>
      <img src="/assets/img/correct.png" width="100">
      <p>추출된 데이터를 분석하고 검증하여 정확한 데이터를 추출하는 검증 시스템 입니다.</p>
    </div>
</div>
